@charset "UTF-8";

h1 {
  padding-top: 2rem;
}

.lightTurquoise {
  background-color: #ebf3f0;
  padding: 0.4rem 0;
}

#logo {
  width: 250px;
  height: auto;
  animation-name: glow;
  animation-duration: 45s;
}

#logo:hover {
  filter: brightness(125%);
}

@keyframes glow {
  0% {
    filter: brightness(100%);
  }
  5% {
    opacity: 0.1;
  }
  15% {
    opacity: 0.5;
  }
  25% {
    filter: brightness(125%);
    opacity: 1;
    filter: contrast(115%);
  }
  50% {
    filter: brightness(155%);
  }
  60% {
    filter: brightness(100%);
  }
}

/** backgrounds **/
.red {
  color: #fff;
  background-color: rgba(160, 28, 28);
  text-align: center;
  padding: 50px 80px;
}

.green {
  color: #fff;
  background-color: rgba(122, 152, 50);
  text-align: center;
  padding: 50px 80px;
}

.brown {
  color: #fff;
  background-color: rgba(40, 31, 14);
  text-align: center;
  padding: 50px 80px;
}

.turquoise {
  background-color: #5dbf97;
  color: rgba(40, 31, 14);
  text-align: center;
  padding: 50px 80px;
}

.white {
  color: rgba(40, 31, 14);
  background-color: #fff;
  text-align: center;
  padding: 50px 80px;
}

.cardHeaderBreakfast {
  background-color: rgba(160, 28, 28);
}

.cardHeaderLunch {
  background-color: rgba(122, 152, 50);
}

.cardHeaderDrinks {
  background-color: rgba(40, 31, 14);
}

.cardbodyBreakfast {
  border: 3px solid rgba(160, 28, 28);
}

.cardbodyLunch {
  border: 3px solid rgba(122, 152, 50);
}

.cardBodyDrinks {
  border: 3px solid rgba(40, 31, 14);
}

.btnSubmit {
  background-color: #5dbf97;
  color: #fff;
}
footer {
  text-align: center;
  padding-top: 3%;
  height: 200px;
  font-size: 1rem;
}

footer section section ul {
  padding-left: 0;
}

.tulip {
  height: 18rem;
  align-self: center;
}

.about h3 {
  padding: 1rem 0;
}

div.carousel-caption h2 {
  padding: 0.2rem;
}

caption {
  caption-side: top;
}

.card-header button {
  color: #fff;
  font-size: 1.2rem;
  padding: 0.8rem;
}

.card-header button:hover {
  color: rgb(40, 31, 14);
}

/*** BLOG ***/

.blog-header {
  line-height: 1;
  border-bottom: 1px solid #e5e5e5;
}

.blog-header-logo:hover {
  text-decoration: none;
}

.card-img-right {
  height: 100%;
  border-radius: 0 3px 3px 0;
}

.flex-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}
.blog-pagination > .btn {
  border-radius: 2rem;
}

/*
 * Blog posts
 */
.blog-post {
  margin-bottom: 4rem;
  /* background-color: #efede3; */
  background-color: rgb(240, 252, 240);
  padding: 2rem;
  border-radius: 10px;
}

.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #999;
}

/* unvisited link */
a:link {
  color: rgba(40, 31, 14) !important;
}

/* visited link */
a:visited {
  color: #5dbf97 !important;
}

/* mouse over link */
a:hover {
  color: rgba(122, 152, 50) !important;
}

/* selected link */
a:active {
  color: rgba(160, 28, 28) !important;
}
